<template name="awardListCarousel">
    <div>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                {{#each prizes}} {{#if isFirstIndex index}}
                <div id="cl{{index}}" class="item active">
                    <img src="RedCover2.jpg">
                    <div class="carousel-caption">
                        <p>{{Prize}}</p>
                        {{#each awards Prize}} {{Sequence}} - {{Name}} {{/each}}
                    </div>
                </div>
                {{else}}
                <div id="cl{{index}}" class="item">
                    <img src="RedCover2.jpg">
                    <div class="carousel-caption">
                        <p>{{Prize}}</p>
                        {{#each awards Prize}} {{Sequence}} - {{Name}} {{/each}}
                    </div>
                </div>
                {{/if}} {{/each}}
            </div>

            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</template>