.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
.carousel-caption{
    top: 0px;
    font-size: 56px;
    vertical-align:text-top;
}
.last5Members{
    font-size: 26px;
    float:left;
}
.lastMember{
    font-size: 55px;
    align-content: center;
}